* {
    padding:0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #313131;
  }

a {
    text-decoration: none;
}

p, h1, h2, h3, img, svg, div {
  background-color:transparent;
}